.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  body.container-fluid {
    background-attachment: fixed;
    background-blend-mode: multiply;
    background: url('https://www.toptal.com/designers/subtlepatterns/uploads/papyrus.png'), linear-gradient(45deg, #2e1e48, #613f99, #23a6d5, #23d5ab);
      animation: gradient linear 30s infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      100% {
          background-position: 50% 0%;
      }

  }

  header {
    margin: 0 !important;
    padding: 0 !important;
    position: fixed;
    z-index: 10000;
    top: 0;
  }
  
  .navbar {
    background: #613f99; 
    padding: 10px; 
  }

  .nav-link {
    color: #fff; 
  }
  
  .header h1 {
    margin-bottom: 20px; 
  }
  
  .content {
    padding: 20px; 
  }

  .lists-container {
    display: flex;
    justify-content: space-between;
  }
  
  .list {
    flex-basis: calc(33.33% - 20px); 
    margin-right: 20px; 
  }
  
  .list-left {
    order: 1; 
  }
  
  .list-middle {
    order: 2; 
  }
  
  .list-right {
    order: 3; 
  }

  .banner-container {
    background: url('../images/nogd4.jpg');
    height: 400px;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
  }
  
main.container {
  margin-top: 40px;
}

h1.header {
  margin: auto;
  color: white;
  font-size: 52pt;
}

div.calendar {
  background-color: white;
  margin-top: 25px;
  border-radius: 10px;
  padding: 10px;

}

div.card-body {
  min-height: 200px;
}

div.CallToActionCard {
  margin-top: 25px;
  background-color: rgba(240, 240, 240, 0.75);

}

div.CallToActionCard > div.card-body {
  margin: auto;
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}