.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .navbar {
    background-color: #613f99 !important; 
    padding: 20px; 
  }

  .nav-link {
    color: #fff; 
  }
  
  .header h1 {
    margin-bottom: 20px; 
  }
  
  .content {
    padding: 20px; 
  }

  .lists-container {
    display: flex;
    justify-content: space-between;
  }
  
  .list {
    flex-basis: calc(33.33% - 20px); 
    margin-right: 20px; 
  }
  
  .list-left {
    order: 1; 
  }
  
  .list-middle {
    order: 2; 
  }
  
  .list-right {
    order: 3; 
  }
  
